<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<!--edit_post_path linka egzistuoja nes yra aprasytas   resources :posts -> routes dalyje -->
<%= link_to "Redaguoti", edit_post_path(@post), :class=> 'btn btn-warning' %>
<!-- method: delete - parametras nuruodantys kad tas button atsakingas uz metoda delete  -->
<!-- data:  - kiekviena karta turi buti patvirtinimas Ar Tikrai norite pasalinti? -->
<%= link_to "Pašalinti Straipsni", post_path(@post), method: :delete , data: { confirm: 'Ar tikrai norite pašalinti Straipsnį?' }, :class=> 'btn btn-danger' %>
<hr>
<!--Nukopijotas is index.html.erb -->
<h2>Visi Komentarai</h2>
<!-- Sukuriam cikla -->
<!-- kadangi db metodai priristi tarpusavi .comements -->
<% @post.comments.each do |betKaipUzvadinasKintamasis| %>
<div class="alert alert-light">
    <p><strong><%= betKaipUzvadinasKintamasis.username %></strong>: <%= betKaipUzvadinasKintamasis.body %></p>
</div>
<% end %>

<hr>
<!--Nukopijotas is new.html.erb -->

<h2>Nauja Komentaro Pridėjimas</h2>
<!-- form_for - Formos kurimui -->
<!-- :post - uzmvadinom forma(vardaitis) -->
<!-- url: posts_path - standartinis adresas kur vyks issaugojimas/addinimas musu postu-->
<!--f - tai kintamas per kurias mes galesime atgauti duomenis is text_field(-o) kaip pvz. -->
<!--[@post, @post.comments.build] - dvimatis masyvas, piervas elementa perduodam posta, o antu elementa kuris leis kurti komentarija -->
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    Naudotojas<br>
    <!--text_field - lentelei sukurimas(vardu :title)  -->
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Komentarijo Tekstas<br>
    <!--text_area - didesne formulytes pavidalu lauko ivedimo lentele (vardu :title)  -->
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <!--f.submit - mygtukas   -->
    <%= f.submit("Pridėti Naują Komentarą",{:class => 'btn btn-warning'}) %>
  </p>
<!-- end - 'do' ciklas uzdarytas   -->
<% end %>